.main_font{
    width: 498px;
    height: 498px;
    top: 62px;
    left: 62px;
    background-image: url("../images/main.gif");
}
.asteroid{
    background: url("../images/asteroid.png") 100% 100% no-repeat;
    background-size: cover;
}
.plane1{
    background: url("../images/plane/plane1.png") 100% 100% no-repeat;
    background-size: cover;
}
.plane2{
    background: url("../images/plane/plane2.png") 100% 100% no-repeat;
    background-size: cover;
}
.plane3{
    background: url("../images/plane/plane3.png") 100% 100% no-repeat;
    background-size: cover;
}
.main>tbody>tr>td{
    height: 62px;
    width: 62px;
    color: rgba(211, 211, 211, 0.85);
    border:  2px solid rgba(211, 125, 45, 0.25);
}
.main>tbody>tr>td:hover{
    cursor: pointer;
    opacity: 0.5;
    background-color: rgba(0, 255, 0, 0.3);
}